.body {    
    background-image: url(img/Background.png) ;  
    background-color:#b7918f;                  
    background-position: center;                 
    background-size: cover;
    font-family: Sans-serif;
    color: #e6dcdc;                              
}

.visually-hidden {
    /* display: none; */
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page-header__main-nav {    
    position: relative; left: 15%; top: 30px;
}

.main-nav__list {
    display: inline-block;    
    list-style-type: none;                  
    font-size: 13px;    
    position: relative; left: 38%; 
}

.main-nav__item {
    display: inline-block;              
    padding: 0 10px;
    font-weight: bold;
}

.main-nav__link {
    color: #e6dcdc;
    text-decoration: none;              
}

.main-nav__link:hover {              
    color: #5c2428;                     
    text-decoration: underline;        
}
  
.promo {
    text-align: center;
    position: relative; top: 160px;    
}

.promo__title {
    font-size: 38px;    
}

.promo__description {    
    font-size: 18px;
    line-height: 10px;    
}

.promo__button {    
    border: 2px solid transparent;
    border-radius: 4px;
    background: #b7918f;    
    padding: 10px 56px;
    margin: 50px;
    font-family: inherit;
    font-size: 20px;    
    color: #e6dcdc;
    cursor: pointer;
}

.promo__button:hover {    
    background: transparent;          
    color: #e6dcdc;                 
    border-color: #5c2428;          
}

.promo__button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #5c2428;      
    background: #a36e6c;                            
}

.footer {
    text-align: center;      
    margin: 130px;        
    font-size: 12px;    
}

.small {
    color: #e6dcdc;
    position: relative; top: 100px;                 
}

.small:hover {              
    color: #5c2428;
}